<div class="container">
  <h1>ToDo List</h1>

  <div class="list-wrapper">
    <input
      class="add-task"
      placeholder="What the agenda for today?"
      type="text"
      [(ngModel)]="todoTitle"
      (keyup.enter)="addTodo()"
    />

    <div class="item-list">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
        (toDoClicked)="toggleCompleted(todo)"
      ></app-todo-item>
    </div>
  </div>
</div>
<div class="git-link">
  <a href="https://github.com/YoliLancaster/todolist-angular-app">GitHub Source Code</a>
</div>
