.todo-item-wrapper{
  display: flex;
  gap: 2rem;
  margin: 15px auto;
  align-items: center;
  justify-content: space-between;
}

.todo-item-content{
  display: flex;
  gap: 20px;
  width: 500px;
  line-height: 1.3;
}

.todo-item-controls{
  display: flex;
  justify-content: flex-end;
}

.completed{
  text-decoration: line-through;
}
